<div *ngIf="isLoading">Loading country data...</div>
<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="!isLoading && !error">
  <app-header [title]="titlePage" [indicators]="indicators"></app-header>
  <div class="chart-container wrapper-container">
    <div class="container">
      <app-chart
        type="line"
        [labels]="lineChartLabels"
        [data]="lineChartData"
        [backgroundColor]="lineChartBackground"
      ></app-chart>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center" style="cursor: pointer;">
    <a routerLink="">Go back</a>
  </div>
</div>
